.ui-input-group {
    .ui-input {
        // margin: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        > input {
            // margin: 10px;
        }
    }
}

.ui-input {
    $input-height: 45px;
    $paddingX: 20px;

    height: $input-height;
    position: relative;
    background: rgba(50, 50, 50, 0.1);

    > button {
        border: 0;
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        height: $input-height;
        width: $input-height;
        z-index: 1100;
        display: none;
        color: rgba(50, 50, 50, 0.2);
        
        &:hover {
            cursor: pointer;
            color: rgba(250, 250, 250, 0.8);
        }

        &:active {
            background: rgba(50, 50, 50, 0.01);
        }

        &:focus {
            outline: 0;
        }
    }

    &:hover {
        & > button {
            display: block;
        }
    }

    > label {
        position: absolute;
        top: 0;
        left: 5px;
        pointer-events: none;
        // color: rgba(50, 50, 50, 0.8);
        color: #fefefe;
        z-index: 900;
        font-size: 12px;
        line-height: 20px;
    }

    > input {
        display: block;
        position: relative;
        z-index: 1000;
        width: 100%;
        background: transparent;
        border: 0;
        height: $input-height;
        line-height: $input-height;
        padding: 0 $paddingX;
        padding-top: 15px;
        color: white;

        &:focus {
            background: rgba(50, 50, 50, 0.08);
            outline: 0;
        }
    }
}

.ui-panel {
    background: rgba(50, 50, 50, 0.5);
    margin-bottom: 15px;

    .ui-panel-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;

        h3 {
            font-size: 1.6em;
            color: #fefefe;
            font-weight: 100;
        }
        h4 {
            font-size: 1em;
            color: #eaeaea;
            font-weight: 300;
        }
    }

    .ui-panel-body {
        // padding: 10px;
    }
}
