body {
    background-color: white;
}

.the-table {
    border-left: 5px solid #333;
    border-right: 5px solid #333;
    
    tr {
        &.ready {
            background-color: #c7f7c7;

            &:nth-of-type(even) {
                background: #a3efa3;
            }
        }
    }

    td {
        &.border-left {
            border-left: 2px solid #333439;
        }
        &.border-right {
            border-right: 2px solid #333439;
        }
    }

    .align-right {
        text-align: right;
    }

    .align-center {
        text-align: center;
    }
}
