html {
    font-family: "Open Sans", sans-serif !important;
}

body {
    background: linear-gradient(135deg, #becef3 0%, #00263c 100%);
}

.the-table {
    margin: 10px;
    color: white;

    td {
        &.border-left {
            border-left: 2px solid rgba(20, 20, 20, 0.3);
        }
        &.border-right {
            border-right: 2px solid rgba(20, 20, 20, 0.3);
        }
    }

    tbody {
        tr {
            &.ready {
                background-color: rgba(0, 150, 0, 0.3);

                &:nth-of-type(even) {
                    background-color: rgba(0, 110, 0, 0.3);
                }
            }
        }
    }
}
