.simple-table {
    thead {
        background: #3e424e;

        th {
            font-weight: 500;
            color: white;
            padding: 10px 8px;
            font-size: 14px;
        }
    }

    tbody {
        tr {
            &:nth-of-type(even) {
                background: #ebf1f5;
            }

            td {
                padding: 6px 8px;
                font-size: 12px;
            }
        }
    }

    th, td {
        text-align: left;
    }
}