.simple-table {
    thead {
        background: #333439;

        th {
            font-weight: 500;
            color: white;
            padding: 10px 8px;
        }
    }

    tbody {
        tr {
            &:nth-of-type(even) {
                background: #ebf1f5;
            }

            td {
                padding: 6px 8px;
            }
        }
    }

    th, td {
        font-size: 14px;
        text-align: center;

        &.spacer {
            width: 15px;
        }
    }
}