.simple-table {
    $h-padding: 12px;

    thead {
        background: linear-gradient(0, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 100%);

        th {
            font-weight: 700;
            color: white;
            padding: 6px $h-padding;
            font-size: 14px;
        }
    }

    tbody {
        color: #fafafa;

        tr {
            border-bottom: 1px solid rgba(50, 50, 50, 0.2);

            &:nth-of-type(even) {
                background: rgba(0, 0, 0, 0.25);
            }
            &:nth-of-type(odd) {
                background: rgba(0, 0, 0, 0.15);
            }

            td {
                padding: 6px $h-padding;
                font-size: 12px;
            }
        }
    }

    th, td {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }

    .align-center {
        text-align: center;
    }
}