body {
    background-color: #f5f5f5;
}

.the-table {
    thead {
        background: #333439;
        color: white;

        th {
            padding: 12px 5px;
        }
    }

    tr {
        &.ready {
            background-color: green;
        }
    }

    td {
        text-align: center;

        &.border-left {
            border-left: 2px solid #333439;
        }
        &.border-right {
            border-right: 2px solid #333439;
        }

        
    }
}
